@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('component.css/header.css');

@import url('component.css/section_rdv.css');

@import url('component.css/slider.css');

@import url('component.css/contact.css');

@import url('component.css/avis.css');

@import url('component.css/filter.css');
@import url('component.css/profil.css');

@import url('component.css/banner_piano.css');

@import url('component.css/admin.css');
@import url('component.css/QRcode_avis.css');

@import url('component.css/security.css');

@import url('component.css/footer.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}



main .collection {
  background-color: #222222;
  color: white;
}

#collection {
  color: white;
}

#titre_collection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}








@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
}