.contact {
    background-color: #222222;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
}

.contact .formulaire {
    width: 50%;
}

.contact .formulaire h3 {
    font-size: 57px;
    font-weight: 500;
}

.contact .formulaire p {
    font-size: 15px;
    font-weight: 300;
}

.contact .formulaire form {
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

.contact .formulaire .info_user {
    width: 100%;
}

#fname {
    width: 29%;
}

#femail {
    width: 70%;
}

#ftexte {
    width: 99.5%;
    height: 150px;
}

#submit {
    color: white;
    background-color: #359c9d;
    width: 40%;
    padding: 10px 25px;
    border-radius: 10px;
}


.contact .formulaire input {
    border-radius: 8px;
    padding: 1%;
    margin: 1% 0% 1% 0%;
}

.contact .info_contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.contact .info_contact h6 {
    font-size: 20px;
    font-weight: 300;
}

.contact .info_contact h3 {
    font-size: 30px;
    font-weight: 500;
}

@media screen and (max-width: 1100px) {
    .contact {
        flex-direction: column;
    }

    .contact .formulaire {
        width: 100%;
    }

    .contact .info_contact {
        width: 100%;
    }

    .information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .contact .info_contact h6 {
        font-size: 30px;
        font-weight: 300;
    }

    .contact .info_contact h3 {
        font-size: 30px;
        font-weight: 500;
    }

    .contact .info_contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}


@media screen and (max-width: 850px) {
    #fname {
        width: 28.5%;
    }

    #femail {
        width: 70%;
    }

    #ftexte {
        width: 99.5%;
        height: 150px;
    }

    .contact .formulaire h3 {
        font-size: 37px;
    }

    .contact .formulaire p {
        font-size: 13px;
    }

    .information {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .contact .info_contact h6 {
        font-size: 20px;
        font-weight: 300;
    }

    .contact .info_contact h3 {
        font-size: 20px;
        font-weight: 500;
    }

    .contact .info_contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}