.filter {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 65%;
}

.filter p {
    color: #222222;
    cursor: pointer;
}

.filter .active {
    padding: 2%;
    border-radius: 12px;
    background-color: #359c9d;

    color: white;
}

.white {
    color: white;
}

@media (max-width:1100px) {
    .filter {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    #titre_collection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

}

@media (max-width:850px) {
    .filter {
        font-size: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    #titre_collection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

}